# Required for runserver_plus
Werkzeug==1.0.1
django-extensions==3.1.2

# Required for the pre-commit hooks
black==20.8b1
flake8==3.9.1

# App requirements
psycopg2-binary==2.8.6
django-redis==4.12.1

